{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  <script> 
    function clickAndDisable(link) {
      // disable subsequent clicks
      link.onclick = function(event) {
        event.preventDefault();
      }
    }   
  </script>
  <div style="padding: 2%;">
    <div class="row" style="margin-bottom: 25px;">
      <div class="col-sm-2 padding-0"></div>
      <div class="col-sm-4 padding-0" style="background: rgba(255, 255, 255, 0.9); border-radius: 85px 0px 0px 0px; padding: 3%;">
        <img src="{% static 'stocker/images/stocker.jpg' %}" style="display: block; width: 100%;border-radius: 20px 0px 20px 0px;">
        <br>
        <div style="color: rgb(50,50,50);">
          <h2 style="font-family: 'Alike';"><b>Signup</b>, Stay on top of the game</h2>
          <p> &nbsp;Start your journey to the world of stock-market with us! You'll never regret it!</p>
        </div>
      </div>
      <div class="col-sm-4 padding-0" style="background: rgba(230, 230, 230, 0.95); border-radius:  0px 0px 85px 0px; padding: 3%;">
        <div> 
          <h1 style="text-align: center; font-family: 'Alike';"><b>Signup</b></h1>
          <br/>
          <p>Please fill the form below to proceed to login page:</p>
          <form class="form-signin" method="POST">
            {% csrf_token %}
            <div action="#">
              <div class="form-group">
                {% render_field form.username  type="text" class="form-control" placeholder="username" %}
              </div>
              <div class="form-group">
                {% render_field form.first_name  type="text" class="form-control" placeholder="first name"%}
              </div>
              <div class="form-group">
                {% render_field form.last_name  type="text" class="form-control" placeholder="last name"%}
              </div>
              <div class="form-group">
                {% render_field form.email  type="text" class="form-control" placeholder="email"%}
              </div>
              <div class="form-group">
                {% render_field form.password1  type="password" class="form-control" placeholder="password "%}
              </div>
              <div class="form-group">
                {% render_field form.password2  type="password" class="form-control" placeholder="confirm password"%}
              </div>       
              <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary py-2 px-4">
                Back to <a href="/accounts/login/">Login</a>
              </div>
            </div>
          </form>        
        </div>
        {% if form.errors %}
          <div id="errors">
            <div class="inner">
              <p>There were some errors in the information you entered. Please correct the following:</p>
              {{ form.non_field_errors }}
              <ul style="color: red;">
                {% for field in form %}
                  {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-2 padding-0"></div>
    </div>
  </div>          
{% endblock %}