{% extends 'base2.html' %}

{% block content %}
<style>
  .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    min-width: 28%;
    background-color: rgba(245,243,245,.94);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div class="container" style="margin-bottom: 12%; margin-top: 3%; background: rgba(240, 248, 255, 0.9); padding: 1% 4%;padding-bottom: 5%; border-radius: 1%;">
  <br/>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
          <small><sup>X</sup></small>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
    <div style="padding-bottom: 6%;">
      <h1 style="font-family: 'Archivo', sans-serif; font-weight: 600;">Delete From Favorites</h1>
      {% if ticker %}
        <p>Press the corresponding button to delete stock from Favorites</p>
        <table class="table table-borderless">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ticker Symbol</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for item in ticker %}
              <tr>
                <th scope="row">{{ item }}</th>
                <td onclick="deleteitem('{% url 'delete' item.id %}');"><p class="btn btn-secondary" style="width: 135px;" id="myBtn">Delete {{ item }}</p></td>
              </tr>
            {% endfor%} 
          </tbody>
        </table>
        <div id="myModal" class="modal">
          <div class="modal-content">
              <span class="close1">&times;</span>
              <p style="text-align: center; padding-top: 3%;">Are you sure you want to delete?</p>
              <a onclick="confirmDelete(); clickAndDisable(this);" class="btn btn-danger px-3 py-2" style="align-self: center; ">Delete</a>
          </div>       
        </div>
        <div style="padding-top: 2%;">
          <p style="float: right"> Click <a href="/add_stock/">Here</a> to add stocks to Favorites</p>
        </div>
      {% else %}
        <br/>
        <p>&emsp;Hi, it seems you havn't added any stocks Favorites.</p>
        <p style="float: right">Click <a href="/add_stock/">Here</a> to add some stocks to delete</p>
      {% endif %}
    </div>
  </div>
  <script>
    var url = null;
    var span = document.getElementsByClassName("close1")[0];
    var modal = document.getElementById("myModal");
    function deleteitem(itemurl){
      modal = document.getElementById("myModal");
      span = document.getElementsByClassName("close1")[0];
      console.log(span);
      callPopUp();
      console.log("something");
      url = itemurl;
    }
    function confirmDelete(){
      console.log(url);
      location.href = url;
    } 
    function callPopUp() {     
      modal.style.display = "block";
    }

    span.onclick = function() {      
      modal.style.display = "none";
    }
    
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    
{% endblock content %}