{% extends 'base2.html' %}

{% block content %}
<h1 style="font-family: 'Archivo', sans-serif; font-weight: 600; margin-bottom: 1%;">Performance Graph of last 100 days</h1>
    <div style="overflow: auto;">
        {% include "stock_information.html" %}
    </div>
    <br>
    <p style="float: right">Go back to <span style="color :blue;"><a onclick="goBack();">Home</a></span></p>
    {% block scripts %}
    <script>
            function goBack() {
              window.history.back();
            }
            </script>
    {% endblock %}
{% endblock content %}
