{% extends 'base2.html' %}

{% block content %}
<div class="container" style="margin-bottom: 12%; margin-top: 3%; background: rgba(240, 248, 255, 0.9); padding: 1% 4%;padding-bottom: 5%; border-radius: 1%;">
  <br/>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
          <small><sup>x</sup></small>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <h1 style="font-family: 'Archivo', sans-serif; font-weight: 600; margin-bottom: 1%;">Performance Graph of last 100 days</h1>
      <div style="overflow: auto;">
        <div style="position: absolute; z-index: 1; border: solid black 1px; border-radius: 8px; padding: 1%; margin-top: 4%; margin-left: 6%;">
          <div class="row">
            <div class="col-sm-3">
              <div style="width: 5px; height: 20px; background-color: #D5E1DD; border: solid black 1px;"></div>
            </div>
            <div class="col-sm-7">
              <p style="display: inline;">Gain</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div style="width: 5px; height: 20px; background-color: #F2583E; border: solid black 1px;"></div>
            </div>
            <div class="col-sm-7">
              <p style="display: inline;">Loss</p>
            </div>
            <!-- <div class="row">
              <div class="col-sm-3">
                <div style="width: 2px; height: 20px; background-color:black;"></div>
              </div>
              <div class="col-sm-7">
                <p style="display: inline;">Highest/lowest of the day</p>
              </div>
            </div> -->
          </div>
        </div>
          {% include "stock_information.html" %}
      </div>
      <br>
      <p style="float: right">Go back to <span style="color :blue;"><a onclick="goBack();">Home</a></span></p>
      {% block scripts %}
      <script>
              function goBack() {
                window.history.back();
              }
              </script>
      {% endblock %}
</div>
{% endblock content %}
