{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- <h1>Built-In Login Logout</h1> -->
    <div style="padding :2%">
        <div class="row">
            <div class="col-sm-1 padding-0"></div>
            <div class="col-sm-7 padding-0" style="background: rgba(240, 240, 240, 0.97); border-radius: 1%; padding: 3%; padding-bottom: 5%;">
                    <h2 style="font-family: 'Alike';">Reset Password</h2>
                    <div style="padding: 2%;">
                        <p>Hurray! Your password has been changed.</p>
                        <a href="{% url 'login' %}" style="float: right;">Click here to go back to Login page</a>      
                    </div>
            </div>
            <div class="col-sm-4 padding-0"></div>
        </div>
    </div>

{% endblock content %}