{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% load widget_tweaks %}
    <div style="padding: 2%;">
        <div class="row" style="padding-top: 2%;">
            <div class="col-sm-4 padding-0"></div>
            <div class="col-sm-4 padding-0" style="background-color: aliceblue; border-radius: 4%; padding: 3%; padding-bottom: 5%;">
                <h2 style="font-family: 'Alike';"><b>Reset Password</b></h2>
                <p style="font-family: 'Alike';">Enter your registered Email-id:</p>
                <div>
                    <form method="post" style="margin-top: 2%">
                        {% csrf_token %}
                        <div class="form-group">
                            {% render_field form.email  type="text" class="form-control" placeholder="E-mail"%}
                        </div>
                        <button class="btn btn-primary py-2 px-4" type="submit" style="margin-left: 4.5%; display: inline-block">Submit</button>
                        Back to <a href="/accounts/login/">Login</a>
                    </form>
                </div>
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <br/>
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul style="color: red;">
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
            </div>
            <div class="col-sm-4 padding-0"></div>
        </div>
    </div>
{% endblock content %}
