{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div style="padding :2%">
        <div class="row">
            <div class="col-sm-1 padding-0"></div>
            <div class="col-sm-7 padding-0" style="background: rgba(240, 240, 240, 0.95); border-radius: 0px 40px; padding: 3%; padding-bottom: 5%;">
                <h2>Reset Password</h2>   
                <br/>
                <p>We have sent you reset password link on your email. Please Check Your Email. If no mail is received please check if an invalid email was given.</p>
                <a href="{% url 'login' %}" style="position: absolute; right: 15rem">Back to Login Page</a>
            </div>
            <div class="col-sm-4 padding-0"></div>
        </div>
    </div>
{% endblock content %}