{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
  <br/>  
    <div style="padding :2%">
      <div class="row">
      <div class="col-sm-4 padding-0"></div>
        <div class="col-sm-4 padding-0" style="background: rgba(171, 205, 239, 0.98); border-radius: 4%; padding: 3%; padding-bottom: 5%;">
          <h2 style="text-align: center; font-family: 'Alike'; "><b>Login</b></h2>
          <br/>
            {% load widget_tweaks %}              
              <form class="form-signin" method="POST">
                {% csrf_token %}
                <div action="#" >
                  <div class="form-group">
                    {% render_field form.username  type="text" class="form-control" placeholder="Username"%}
                  </div>
                  <div class="form-group">
                    {% render_field form.password type="password"  class="form-control" placeholder="Password"%}
                  </div>    
                  <div class="form-group">
                    <input type="submit" value="Sign-In" class="btn btn-primary py-2 px-4" style="width: 49%;">
                    <a style="text-decoration: none;color:white; float:right; width: 48%;" class="btn btn-primary py-2 px-4" href="/accounts/signup">Sign-Up</a>   
                  </div>
                  <div>
                    <a style="color:black; float: left; padding-top: 2%;" href="/password-reset" class="ml-1"> Forgot password?</a>
                    <a style="text-decoration: none;color:white; float: right; width: 48%;" class="btn btn-danger py-2 px-3" href="{% url 'social:begin' 'google-oauth2' %}">Sign-In with Google</a><br>
                </div>
                </div>   
              </form>            
            {% if form.errors %}
              <p style="color: red;">Username or password not correct</p>
            {% endif %}
            <div class="col-sm-4 padding-0"></div>
        </div>
      </div>
    </div>  
{% endblock content %}